.modal {
  &__container {
    width: 808px;
    height: 624px;
    border: 1px solid #f6cccc;
    border-radius: 12px;

    &__header {
      @include flex;
      height: 140px;

      &_title {
        @include text-style(36, #f6cccc, 400);
      }
    }

    &__main {
      @include column-flex;
      gap: 10px;
      &_date {
        @include flex(start, center);
        padding-left: 13px;
        width: 100%;
        gap: 10px;
        &_input-year {
          @include text-style(20, #cccccc, 400);
          width: 85px;
          height: 40px;
          padding: 0;
          text-align: center;
          border: 1px solid #f6cccc;
          border-radius: 12px;
        }
        &_input-month {
          @include flex;
          @include text-style(20, #cccccc, 400);
          width: 61px;
          height: 40px;
          padding: 0;
          text-align: center;
          border: 1px solid #f6cccc;
          border-radius: 12px;
        }
        &_input-day {
          @include flex;
          @include text-style(20, #cccccc, 400);
          width: 61px;
          height: 40px;
          padding: 0;
          text-align: center;
          border: 1px solid #f6cccc;
          border-radius: 12px;
        }
      }

      &_title {
        &_input {
          @include text-style(20, #eeeeee, 400);
          width: 780px;
          height: 40px;
          border: 1px solid #f6cccc;
          border-radius: 12px;
        }
      }

      &_content {
        &_input {
          @include text-style(20, #eeeeee, 400);

          width: 780px;
          height: 305px;
          border: 1px solid #f6cccc;
          border-radius: 12px;
        }
      }
    }

    &__footer {
      @include flex(end, center);

      &_add-btn {
        @include flex;
        @include text-style(20, #f6cccc, 700);
        width: 84px;
        height: 50px;
        border: 1px solid #f6cccc;
        border-radius: 12px;
        margin: 13px 13px 0 0;
      }
    }
  }
}
